/* View Transitions */
[id^="post:"],
[id^="note:"],
[id^="tag:"] {
  view-transition-name: auto;
  view-transition-name: attr(id type(<custom-ident>), none);
}

/* Blog */
.blog {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Footnotes */
.footnote {
  > label,
  > span::before {
    color: var(--accent);
    font-weight: bold;
  }
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  a.anchor,
  a.anchor:hover {
    color: inherit;
    position: relative;
    text-decoration: none;
  }

  a.anchor::before {
    content: "§";
    left: 0;
    opacity: 0;
    padding: 0 .2em;
    position: absolute;
    transform: translateX(-100%);
    transition: opacity .2s ease;
  }

  a.anchor:hover,
  &:target a.anchor {
    &::before {
      opacity: 1;
    }
  }

  @media (max-width: 800px) {
    a.anchor::before {
      left: 100%;
      transform: none;
    }
  }
}

/* Icons */
a:has(svg.icon) {
  line-height: 0;
}

/* Tags */
.tag {
  font-family: var(--mono);
  font-weight: bolder;

  a& {
    text-decoration: none;
  }
}
