<article class="post card">
  <header>
    <h1 class="title">
      <a href="{{ post.url }}">
        <span id="post:{{ post.fileSlug }}">{{ post.data.title }}</span>
      </a>
    </h1>
    {% set created = post.data.created %}
    {% set updated = post.data.updated %}
    {% set tags = post.data.tags %}
    {% set content = post.content %}
    {% include "widget/meta.njk" %}
  </header>
  <section>
    <p>
      {{ post.data.description or (post.content | firstParagraph) }}
    </p>
  </section>
</article>

<style>
  article.post.card {
    list-style: none;
    border: 2px solid var(--darker);
    border-radius: 8px;
    box-shadow: 2px 2px 1px var(--shadow);
    background: var(--darken);
    padding: 8px;
    box-sizing: content-box;

    header {
      margin-block: .5em;

      h1 {
        font-size: 1.6em;
        margin: 0;
      }

      a:not(:hover) {
        text-decoration-color: transparent;
      }
    }

    section {
      border: inherit;
      border-width: 1px;
      border-radius: 4px;
      background: var(--backgd);
      padding: inherit;
      font-size: .9em;
    }

    :first-child {
      margin-block-start: 0;
    }

    :last-child {
      margin-block-end: 0;
    }
  }
</style>
