---
title: "Games: Extra"
---

{% include "media/navbar.njk" %}
{% include "games/navbar.njk" %}

<table class="plain">
  <thead>
    <tr>
      <th>Title</th>
      <th>Model</th>
      <th>Region</th>
    </tr>
  </thead>
  <tbody>
    {% for extra in fetch.games.extra
      | sort(attribute="title")
      | sort(attribute="system")
    %}
      <tr>
        <td class="title">
          {{ extra.title }}
          {% if extra.variant %}<span class="variant">({{ extra.variant }})</span>{% endif %}
        </td>
        <td class="model">{{ extra.model }}</td>
        <td class="region">{{ extra.region | flag }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<style>{% include "style/media.css" %}</style>
<style>
  table.plain {
    .title {
      font-family: var(--serif);
    }

    .variant {
      font-family: var(--serif);
      color: oklch(from currentColor l c h / .6);
    }

    .model {
      font: .8em var(--mono);
      color: oklch(from currentColor l c h / .6);
    }
  }
</style>
