---
layout: false
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemap.xsl"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all | sort(attribute="url") %}
    {% if page.url %}
      <url>
        <loc>{{ site.url }}{{ page.url | url }}</loc>
        <lastmod>{{ page.data.modified | dated }}</lastmod>
      </url>
    {% endif %}
  {% endfor %}
</urlset>
