---
import { getCollection } from "astro:content";

import Meta from "../../components/meta.astro";
import Base from "../../layouts/base.astro";

export async function getStaticPaths() {
  return (await getCollection("blog"))
    .filter((post) => !post.data.draft)
    .map((post) => ({
      params: { post: post.slug },
      props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Base {...post.data}>
  <article class="post">
    <header>
      <h1>
        <span class="title" id={post.slug}>{post.data.title}</span>
      </h1>
      <Meta {...post.data}/>
    </header>
    <section>
      <Content/>
    </section>
    <aside>
      <script src="https://giscus.app/client.js"
        data-repo="kaplanz/site"
        data-repo-id="R_kgDOMaXEIA"
        data-category="Comments"
        data-category-id="DIC_kwDOMaXEIM4CkYlF"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
      </script>
    </aside>
  </article>
</Base>
