---
import Page from "../../layouts/page.astro";

import Post from "../../components/post.astro";

import { getCollection } from "astro:content";

const frontmatter = {
  title: "Blog",
  about: `
    My thoughts on whatever I find interesting at the moment. Warranty not included.
  `.trim(),
};

// Collect sorted posts
const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.created.valueOf() - a.data.created.valueOf());
---

<Page {...frontmatter}>
  <p>{frontmatter.about}</p>
  <section class="blog">
    {posts.map(post => (
      <Post {post}/>
    ))}
  </section>
</Page>

<style>
  section.blog {
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin: 0;
    padding: 0;
  }
</style>
