{#
  Placeholder to allow defining custom head, in principle, you can add anything
  here, e.g. favicons:

  1. Head over to `https://realfavicongenerator.net/` to make your own favicons.
  2. Customize default `custom/head.html` in your `templates` directory and
     insert the given code snippet.
#}

<!-- Meta -->
<meta name="theme-color" content="#e9ecef" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#343a40" media="(prefers-color-scheme: dark)">

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon/favicon.png">
