figure {
  float: right;

  margin: 0.5em;
  border: thin silver solid;
  width: 40%;
  padding: 0.5em;

  text-align: center;
  text-indent: 0;
  font-size: smaller;
  font-style: italic;

  img {
    margin: 0;
    width: 100%;
    padding: 0;
  }

  figcaption {
    margin: 0;
    padding: 0;
  }
}
