/* Color */
@import "open-color";

/* Fonts */
@import "@fontsource-variable/fira-code";
@import "@fontsource-variable/rubik";
@import "@fontsource-variable/fraunces";

/* Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

/* Plugs */
@import "markdown.css";

/* Reset */
@import "normalize.css";

:root {
  /* Color */
  color-scheme: light dark;
  background-color: light-dark(var(--oc-gray-0), var(--oc-gray-9));

  /* Font */
  font-size: 18px;
  --font-mono: "Fira Code Variable", monospace;
  --font-sans: "Rubik Variable", sans-serif;
  --font-serif: "Fraunces Variable", serif;

  /* Size */
  height: 100%;
}

main,
nav {
  width: 100%;
}

@media (min-width: 640px) {
  nav {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

@media (min-width: 768px) {
  main,
  nav {
    display: inherit;
  }
}

@media (min-width: 1024px) {
  main,
  nav {
    width: 768px;
  }
}

@media (min-width: 1280px) {
  main,
  nav {
    width: 1024px;
  }
}

@media (min-width: 1536px) {
  main,
  nav {
    width: 1280px;
  }
}

body {
  color: light-dark(var(--oc-gray-8), var(--oc-gray-3));
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans);
  height: 100%;
  line-height: 1.65;
}

main {
  flex-direction: column;
  margin: 0 auto auto;
  max-width: calc(100% - 2em);
  padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
  line-height: 1.2;
  margin-top: 0;
}

a {
  color: light-dark(var(--oc-cyan-9), var(--oc-cyan-5));
  transition: all .3s ease;

  &:hover {
    color: light-dark(var(--oc-cyan-7), var(--oc-cyan-3));
  }
}

input[type="text"],
textarea {
  border-radius: 6px;
  border: .5px solid var(--oc-gray-5);
  box-shadow: inset 0px 1px 0px 0px #1f23280a;
}

textarea {
  display: block;
  resize: vertical;
  padding: 8px;
  width: 100%;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  overflow: auto;
  width: max-content;

  th,
  td {
    border: 1px solid var(--oc-gray-5);
    padding: .2em .6em;
  }

  th {
    border-width: 2px;
  }

  td {
    &:first-child {
      border-left-width: 2px;
    }

    &:last-child {
      border-right-width: 2px;
    }

    tr:last-child > & {
      border-bottom-width: 2px;
    }
  }

  thead > tr,
  tr:nth-child(2n) {
    background-color: light-dark(var(--oc-gray-3), var(--oc-gray-8));
  }

  tr {
    background-color: light-dark(var(--oc-gray-1), var(--oc-gray-7));
  }
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

figure {
  text-align: center;
}

code {
  font-family: var(--font-mono);
  font-size: .9em;
}

/* code block */
pre {
  border-radius: 12px;
  border: 1px solid var(--oc-gray-5);
  line-height: normal;
  padding: 1em;

  & > code {
    counter-reset: line;
    display: flex;
    flex-direction: column;

    /* line number */
    &:has(> :nth-child(5)) .line::before {
      border-right: 1px solid var(--oc-gray-5);
      content: counter(line);
      counter-increment: line;
      display: inline-block;
      margin-right: .5ch;
      opacity: 35%;
      padding-right: .5ch;
      text-align: right;
      width: 3ch;
    }
  }
}

/* inline code */
:not(pre) > code {
  padding: 2px 4px;
  background-color: light-dark(#faf4ed, #303446);
  border-radius: 4px;
  border: .5px solid var(--oc-gray-5);
  color: light-dark(#575279, #c6d0f5);
}

blockquote {
  border-left: 4px solid var(--oc-gray-5);
  margin: 0 0 16px 0;
  padding: 8px 16px;
}

hr {
  border: none;
  border-top: 1px solid var(--oc-gray-5);
  width: 100%;
}
