/* imports */
@import "remark-callouts/style";
@import "remark-sidenotes/style";

/* rehype-autolink-headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  a.anchor,
  a.anchor:hover {
    color: inherit;
    position: relative;
    text-decoration: none;
  }

  a.anchor::before {
    content: "ยง";
    left: 0;
    opacity: 0;
    padding: 0 .2em;
    position: absolute;
    transform: translateX(-100%);
    transition: opacity .2s ease;
  }

  a.anchor:hover,
  &:target a.anchor {
    &::before {
      opacity: 1;
    }
  }

  @media (max-width: 800px) {
    a.anchor::before {
      left: 100%;
      transform: none;
    }
  }
}

/* remark-sidenotes */
.sidenote {
  > label,
  > span::before {
    color: var(--accent);
    font-weight: bold;
  }
}

/* shiki */
pre > code {
  counter-reset: code;

  &:has(> span.line:nth-child(1)) {
    --gutter: 1ch;
  }

  &:has(> span.line:nth-child(10)) {
    --gutter: 2ch;
  }

  &:has(> span.line:nth-child(100)) {
    --gutter: 3ch;
  }

  &:has(> span.line:nth-child(1000)) {
    --gutter: 4ch;
  }

  > span.line {
    counter-increment: code;

    &::before {
      display: inline-block;

      inline-size: var(--gutter);
      margin-inline-end: 1ch;

      content: counter(code);
      text-align: end;
      user-select: none;

      opacity: 0.5;
    }
  }
}
