/* imports */
@import "remark-callouts/style";
@import "remark-inline-footnotes/style";

/* rehype-autolink-headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  a.anchor,
  a.anchor:hover {
    color: inherit;
    position: relative;
    text-decoration: none;
  }

  a.anchor::before {
    content: "§";
    left: 0;
    opacity: 0;
    padding: 0 .2em;
    position: absolute;
    transform: translateX(-100%);
    transition: opacity .2s ease;
  }

  a.anchor:hover,
  &:target a.anchor {
    &::before {
      opacity: 1;
    }
  }

  @media (max-width: 800px) {
    a.anchor::before {
      left: 100%;
      transform: none;
    }
  }
}

/* remark-inline-footnotes */
.footnote {
  > label,
  > span::before {
    color: var(--accent);
    font-weight: bold;
  }
}

/* shiki */
pre.shiki > code {
  counter-reset: code;
  padding: 0;

  position: relative;

  &:has(> span.line:nth-child(1)) {
    --gutter: 1ch;
  }

  &:has(> span.line:nth-child(10)) {
    --gutter: 2ch;
  }

  &:has(> span.line:nth-child(100)) {
    --gutter: 3ch;
  }

  &:has(> span.line:nth-child(1000)) {
    --gutter: 4ch;
  }


   > span.line {
    counter-increment: code;

    padding-inline-end: 1ch;

    &:first-child::before {
      padding-block-start: 1ch;
    }

    &:last-child::before {
      padding-block-end: 1ch;
    }

    &::before {
      display: inline-block;

      position: sticky;
      inset-inline-start: 0;
      padding-inline-start: 1ch;

      inline-size: var(--gutter);
      padding-inline-end: 1ch;
      border-inline-end: 1px solid currentColor;
      margin-inline-end: 1ch;

      content: counter(code);
      text-align: end;
      user-select: none;

      background: var(--darken);
      color: oklch(from currentColor l c h / .5);
    }
  }
}
