---
import Base from "../layouts/base.astro";

import Note from "../components/note.astro";
import Post from "../components/post.astro";

import { getCollection } from "astro:content";
import { Markdown } from "@astropub/md";

// Get most recent note
const note = (await getCollection("note"))
  .map((it) => ({ ...it, time: new Date(1000 * Number.parseInt(it.slug, 16)) }))
  .sort((a, b) => b.time - a.time)
  .shift();

// Collect recent posts
const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.created.valueOf() - a.data.created.valueOf())
  .slice(0, 3);
---

<Base>
  <article>
    <section>
      <img
        class="prof"
        src="/user.png"
        alt="A low-resolution photo with my cat taken on the Game Boy Camera"
      />
      <Markdown of={`
Hey, I'm Zakhary.[^spell] I'm a computer architect and retro-computer[^dmgbc]
enthusiast.

[^spell]: Note the ✨ _unique_ ✨ spelling. Most people spell it wrong, but I
  don't really mind at this point. I personally believe I use a spelling most
  phonetically similar to the name's origin, זכריה, which you can also call me
  if you can pronounce \`χ\`[^phone] properly.
[^phone]: That's a [voiceless uvular fricative][wiki:vuf]
[^dmgbc]: But mostly the Nintendo Game Boy, which I didn't actually have growing
  up.

[wiki:vuf]: https://en.wikipedia.org/wiki/Voiceless_uvular_fricative
      `}/>
    </section>
    <section>
      <h2>Musings</h2>
      <Note {note}/>
      <a href="/note/">&rsaquo; more</a>
    </section>
    <section>
      <h2>Articles</h2>
      <ul class="blog">
        {posts.map(post => (
          <Post {post}/>
        ))}
      </ul>
      <a href="/blog/">&rsaquo; more</a>
    </section>
  </article>
</Base>

<style>
  img.prof {
    display: block;
    margin: 1em auto;

    border: 6px solid var(--banner);
    border-radius: 50%;

    aspect-ratio: 1;
    inline-size: 120px;
  }

  ul.blog {
    display: flex;
    flex-direction: column;
    gap: 1em;

    padding: 0;
  }

  :global(article.note) {
    margin: 1em auto !important;
  }
</style>
