---
layout: base
---

{% set note = {
  url: page.url,
  fileSlug: slug,
  content: content,
  data: {
    title: title,
    created: created,
    tags: tags
  }
} %}

<header>
  <time datetime="{{ created | dated }}" title="{{ created | dated }}"
      style="font: normal 1.2em var(--sans); margin: 1em 0; display: block;">
    {{ created | since }}
  </time>
</header>
<section style="display: flex; flex: inherit; place-items: center; place-content: center;">
  {% include "widget/note.njk" %}
</section>
