---
import { retro } from "../global";
---

<section>
  {retro.map(item => (
    <a href={item.ref}>
      <img src=`/img/88x31/${item.src}`/ alt={item.alt}>
    </a>
  ))}
</section>

<style>
  section {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
  }

  a {
    block-size: fit-content;
  }

  img {
    display: block;
    image-rendering: pixelated;
    border-radius: 0;
  }
</style>
