---
import path from "node:path";

const crumb = Astro.url.pathname.match(/(^\/)|[^\/]+\/?/g).reduce(
  (root, page) => [
    ...root,
    {
      url: path.join(root.slice(-1)[0]?.url ?? "/", page),
      txt: page,
    },
  ],
  [],
);
---

<nav class="crumb">
  <img src="https://cdn.zakhary.dev/icons/comp.gray.png"/>
  <ul>
    {crumb.map(page => <li><a href={page.url}>{page.txt}</a></li>)}
  </ul>
</nav>

<style>
  nav {
    display: flex;
    gap: 1ch;
  }
</style>
