---
import path from "node:path";

const crumb = Astro.url.pathname.match(/(^\/)|[^\/]+\/?/g).reduce(
  (root, page) => [
    ...root,
    {
      url: path.join(root.slice(-1)[0]?.url ?? "/", page),
      txt: page,
    },
  ],
  [],
);
---

<nav class="crumb">
  <ul>
    {crumb.map(page => <li><a href={page.url}>{page.txt}</a></li>)}
  </ul>
</nav>
