---
import { owner } from "../global";

import Badges from "./badges.astro";
---

<footer>
  <section>
    <h6>
      <a href="/privacy">Privacy</a>
      <small>&bull;</small>
      <a href="/slashes">Slashes</a>
    </h6>
  </section>
  <Badges/>
  <section>
    <span>
      <small>&copy; {new Date().getFullYear()} {owner}</small>
    </span>
  </section>
</footer>

<style>
  h6 {
    margin: 0;
  }
</style>
