---
import { owner } from "../global";
---

<footer>
  <section>
    <span>
      <small>&copy; {new Date().getFullYear()} {owner}</small>
      <small>&bull;</small>
      <small><a href="/privacy">Privacy</a></small>
      <small>&bull;</small>
      <small><a href="/slashes">Slashes</a></small>
    </span>
  </section>
</footer>
