---
interface Props {
  hier;
}

const { hier } = Astro.props;
---

<ul>{Object.values(hier).map(page => (
  <li>
    <a href={page.link || "#"}>
      <span class="icon">
        <img class="idle" src=`https://www.apache.org/icons/${page.icon.idle}.png`/>
        <img class="peek" src=`https://www.apache.org/icons/${page.icon.peek}.png`/>
      </span>
      <span class="name">{page.name}{page.hier && "/"}</span>
    </a>
    {page.hier && <Astro.self hier={page.hier}/>}
  </li>
))}</ul>

<style>
  /* Top-level list */
  ul {
    background-color: light-dark(var(--oc-gray-2), var(--oc-gray-8));
    display: flex;
    flex-flow: row wrap;
    font-family: var(--font-mono) !important;
    font-size: 16px;
    gap: .5em;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      white-space: nowrap;

      &:hover > a {
        background-color: light-dark(var(--oc-cyan-8), var(--oc-cyan-4));
        transition: all .3s ease;

        > :not(ul) {
          color: light-dark(var(--oc-gray-2), var(--oc-gray-8));
        }
      }

      &:not(:hover) > ul {
        display: none;
      }

      a {
        align-items: center;
        border-radius: .4em;
        border: .5px solid var(--oc-gray-5);
        color: inherit;
        display: flex;
        flex-direction: row;
        gap: .5em;
        padding: .4em;
        text-decoration: none;

        img {
          border-radius: 0;
          grid-column: 1;
          grid-row: 1;
          grid: 1;
          height: 22px;
          margin: 0;
          min-width: max-content;
        }

        .icon {
          margin: 0;
          display: grid;
          grid-template-columns: 1fr;
        }

        .idle, &:hover .peek {
          visibility: visible;
        }

        .peek, &:hover .idle {
          visibility: hidden;
        }
      }
    }
  }

  /* 2nd-level list */
  ul ul {
    border-radius: .4em;
    border: .5px solid var(--oc-gray-5);
    box-shadow: 0 2px 3px light-dark(var(--oc-gray-5), var(--oc-black));
    flex-direction: column;
    gap: .25em;
    padding: .5em;
    position: absolute;
    z-index: 1;

    li {
      position: relative;

      a {
        border: none;
        padding: .4em;
      }
    }
  }

  /* 3rd-level list */
  ul ul ul {
    top: 0;
    left: 100%;
  }
</style>
