---
const pages = [
  { name: "home", path: "/" },
  { name: "about", path: "/about" },
  { name: "now", path: "/now" },
  { name: "books", path: "/books" },
];

const current = Astro.url.pathname;
---

<nav>
  <ul>
    {pages.map(page => (
      <li aria-current={current === page.path ? "page" : undefined}>
        <a href={page.path}>{page.name}</a>
      </li>
    ))}
  </ul>
</nav>

<style>
  nav {
    font-family: var(--mono);
    font-weight: normal;
  }

  ul {
    display: inline-flex;
    gap: 1em;
    list-style: none;

    margin: 0;
    padding: 0;
  }

  li {
    transition: font-weight .2s;

    &:hover,
    &[aria-current] {
      color: var(--accent);
      font-weight: bold;
    }
  }
</style>
