---
import Meta from "./meta.astro";

const { post } = Astro.props;

import { markdown } from "@astropub/md";

import * as cheerio from "cheerio";

// Render body to markdown
const body = await markdown(post.body);
// Parse document from HTML
const $ = cheerio.load(body.toString(), null, false);
// Extract first paragraph
post.summary = $("p").first().text();
---

<article class="post">
  <header>
    <h1>
      <a href=`/blog/${post.slug}`>
        <span class="title" id={post.slug}>{post.data.title}</span>
      </a>
    </h1>
    <Meta {...post.data}/>
  </header>
  <section>
    <p>
      {post.data.description || post.summary}
    </p>
  </section>
</article>

<style>
  article.post {
    list-style: none;

    border: 2px solid var(--darker);
    border-radius: 8px;
    box-shadow: 2px 2px 1px var(--shadow);

    background: var(--darken);
    padding: 8px;
    box-sizing: content-box;

    header {
      h1 {
        font-size: 1.6em;
      }

      a:not(:hover) {
        text-decoration-color: transparent;
      }

      .title {
        font: inherit;
      }
    }

    section {
      border: inherit;
      border-width: 1px;
      border-radius: 4px;

      background: var(--backgd);
      padding: inherit;

      font-size: .9em;
    }

    :first-child {
      margin-block-start: 0;
    }

    :last-child {
      margin-block-end: 0;
    }
  }
</style>
