---
title: "Games: Consoles"
---

{% include "media/navbar.njk" %}
{% include "games/navbar.njk" %}
{% include "games/owned/navbar.njk" %}

<table class="plain">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Title</th>
      <th>Model</th>
    </tr>
  </thead>
  <tbody>
    {% for owned in fetch.games.consoles
      | sort(false, false, "item.title")
      | sort(false, false, "item.model")
      | sort(false, false, "item.platform.date")
      %}
      <tr>
        <td class="icon">
          {% if owned.item.platform.name -%}
            <img src="https://cdn.zakhary.dev/img/icons/retcon/{{ owned.item.platform.slug }}.png"/>
          {%- endif %}
        </td>
        <td class="region">{{ owned.item.region | flag }}</td>
        <td class="title">
          {{ owned.item.title }}
          {% if owned.item.variant -%}
            <span class="variant">{{ owned.item.variant }}</span>
          {%- endif %}
        </td>
        <td class="model">{{ owned.item.model }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<style>{% include "style/media.css" %}</style>
<style>
  table.plain {
    th, td {
      vertical-align: middle;
    }

    .icon > img {
      corner-radius: 0;
    }

    .title {
      font-family: var(--serif);
    }

    .variant {
      display: block;
      font-family: var(--serif);
      color: oklch(from currentColor l c h / .6);
    }

    .model {
      font: .8em var(--mono);
      color: oklch(from currentColor l c h / .6);
    }
  }
</style>
