---
title: "Games: Releases"
---

{% include "media/navbar.njk" %}
{% include "games/navbar.njk" %}
{% include "games/owned/navbar.njk" %}

{% for platform, games in fetch.games.releases
  | sort(false, false, "platform.date")
  | groupby("platform.slug")
  %}
  <section>
    <h3 id={{ platform }} class="platform">
      <a class="anchor" href="#{{ platform }}">
        <img
          class="icon"
          src="https://cdn.zakhary.dev/img/icons/retcon/{{ platform }}.png"
        />
        <span>{{ games[0].platform.name }}</span>
      </a>
    </h3>

    <table class="plain">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Revision</th>
        </tr>
      </thead>
      <tbody>
        {% for game in games
        | sort(false, false, "title")
        %}
          <tr>
            <td class="region">{{ game.region | flag }}</td>
            <td class="title">{{ game.title }}</td>
            <td class="revision">{{ game.revision }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endfor %}

<style>{% include "style/media.css" %}</style>
<style>
  h3.platform {
    a {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    img {
      block-size: 100%;
      corner-radius: 0;
    }
  }

  table.plain {
    th, td {
      vertical-align: middle;
    }

    .title {
      font-family: var(--serif);
    }

    .revision {
      font: .8em var(--mono);
      color: oklch(from currentColor l c h / .6);
    }

    .platform {
      font: .8em var(--mono);
      background: oklch(from var(--teal) l c h / .4);
      border-radius: 4px;
      padding: 0 4px;
    }
  }
</style>
