{% set tabs = [
  { url: "/media/games",                label: "Played"   },
  { url: "/media/games/owned/releases", label: "Releases" },
  { url: "/media/games/owned/consoles", label: "Consoles" },
  { url: "/media/games/owned/extras",   label: "Extras"   }
] %}
<header>
  <fieldset>
    {% for tab in tabs %}
      <button
        onclick="location.href='{{ tab.url }}'"
        {% if page.url == tab.url %}aria-current="true"{% endif %}
      >{{ tab.label }}</button>
    {% endfor %}
  </fieldset>
</header>
