{% set tabs = [
  { url: "/media/games",         label: "Played"  },
  { url: "/media/games/copies",  label: "Copies"  },
  { url: "/media/games/systems", label: "Systems" },
  { url: "/media/games/extras",  label: "Extras"  }
] %}
<header>
  <fieldset>
    {% for tab in tabs %}
      <button
        onclick="location.href='{{ tab.url }}'"
        {% if page.url == tab.url %}aria-current="true"{% endif %}
      >{{ tab.label }}</button>
    {% endfor %}
  </fieldset>
</header>
