---
import { getCollection } from "astro:content";

import dayjs from "dayjs";
import af from "dayjs/plugin/advancedFormat";
import tz from "dayjs/plugin/timezone";
import utc from "dayjs/plugin/utc";

dayjs.extend(af);
dayjs.extend(tz);
dayjs.extend(utc);

import Note from "../../components/note.astro";
import Base from "../../layouts/base.astro";

export async function getStaticPaths() {
  const notes = await getCollection("note");
  return notes.map((note) => ({
    params: { note: note.slug },
    props: { note },
  }));
}

const { note } = Astro.props;

const { Content } = await note.render();

const date = dayjs.utc(1000 * Number.parseInt(note.slug, 16)).local();
const dfmt = date.local().format("DD MMM YYYY, HH:mm z");
---

<Base {...note.data} title=`Post #${note.slug}`>
  <header>
    <span>{dfmt}</span>
  </header>
  <section>
    <Note {note}/>
  </section>
</Base>

<style>
  header {
    font: normal 1.2em var(--sans);
    margin: 1em 0;
  }

  section {
    display: flex;
    flex: inherit;

    place-items: center;
    place-content: center;
  }
</style>
