---
title: Books
---

{% include "media/navbar.njk" %}

<section class="books">
  {% for year, list in books.read | groupby("year") | dictsort | reverse %}
    <details open>
      <summary>
        <h2>{{ year }}</h2>
        <span>({{ list | length }} books)</span>
      </summary>
      <ul>
        {% for book in list %}
          <li class="book">
            <div class="cover">
              <img
                src="{{ book.item.cover }}"
                alt="Cover artwork for {{ book.item.title }}"
                title="{{ book.item.title }}"
              />
            </div>
            <span>
              <b>{{ book.item.title }}</b>
            </span>
          </li>
        {% endfor %}
      </ul>
    </details>
  {% endfor %}
</section>

<style>{% include "style/media.css" %}</style>
<style>
  .books {
    details summary {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > * {
        margin: 0;
      }

      + * {
        margin-block: 1em .5em;
      }
    }

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, [col-start] 12ch [col-end]);
      gap: 1em;
      justify-content: center;
      inline-size: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li.book {
      display: flex;
      flex-direction: column;

      .cover {
        display: flex;
        align-items: end;
        justify-content: center;
        block-size: 18ch;
        margin-block: .5em;

        img {
          display: block;
          block-size: auto;
          inline-size: auto;
          max-block-size: 100%;
          max-inline-size: 100%;
          object-fit: cover;
        }
      }
    }
  }
</style>
