---
title: Games
---

{% include "media/navbar.njk" %}
{% include "games/navbar.njk" %}

<table class="plain">
  <thead>
    <tr>
      <th>Title</th>
      <th>System</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {% for game in fetch.media.game %}
      {% if game.logs.length %}
        <tr>
          <td class="title">{{ game.title }}</td>
          <td>{% if game.system %}<span class="system">{{ (games.sys[game.system] or { name: game.system }).name }}</span>{% endif %}</td>
          <td class="state">{{ (game.logs | last).kind }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<style>{% include "style/media.css" %}</style>
<style>
  table.plain {
    .title {
      font-family: var(--serif);
    }

    .system {
      font: .8em var(--mono);
      background: oklch(from var(--teal) l c h / .4);
      border-radius: 4px;
      padding: 0 4px;
    }

    .state {
      font: .8em var(--mono);
    }
  }
</style>
