---
title: Games
---

{% include "media/navbar.njk" %}
{% include "games/navbar.njk" %}

<table class="plain">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Status</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for game in fetch.media.game %}
      {% set log = game.logs | last %}
      <tr>
        <td class="icon">
          {% if game.system -%}
            <img src="https://cdn.zakhary.dev/img/icons/retcon/{{ game.system }}.png"/>
          {%- endif %}
        </td>
        <td class="title">{{ game.title }}</td>
        <td class="state">{{ log.kind }}</td>
        <td class="date">{{ (log.date * 1000) | since }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<style>{% include "style/media.css" %}</style>
<style>
  table.plain {
    th, td {
      vertical-align: middle;
    }

    .icon > img {
      corner-radius: 0;
    }

    .title {
      font-family: var(--serif);
    }

    .state {
      font: .8em var(--mono);
    }

    .date {
      font: .8em var(--mono);
      color: oklch(from currentColor l c h / .6);
    }
  }
</style>
