---
title: Links
article: >
  Since I don't really use traditional social media, this page is a collection
  of saved webpages from across the internet. This mostly started from my being
  unhappy with existing bookmark managing tools. What's the point of collecting
  links if they're private and no one ever sees them?
---

{% include "media/navbar.njk" %}

{{ article | markdown | safe }}

<table class="plain">
  <tbody>
    {% for link in fetch.media.link %}
      <tr>
        <td class="title">
          <a href="{{ link.url }}" target="_blank">
            {{- link.title or link.url -}}
          </a>
        </td>
        <td class="tags">
          {% if link.tags.length %}
            {% set tags = link.tags %}
            {% set tagBase = "/link/tags" %}
            {% include "widget/tags.njk" %}
          {% endif %}
        </td>
        <td class="date">
          <time
            datetime="{{ link.created | dated }}"
            title="{{ link.created | dated }}"
          >{{ link.created | since }}</time>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<style>{% include "style/media.css" %}</style>
<style>
  table.plain {
    .title {
      font-family: var(--serif);
    }

    .tags {
      font-size: .9em;
    }

    .date {
      font: .8em var(--mono);
      color: oklch(from currentColor l c h / .6);
    }
  }
</style>
