:root {
  counter-reset: sidenote;
}

.sidenote {
  counter-increment: sidenote;

  > label::before {
    content: counter(sidenote);
    font-size: 75%;
    line-height: 0;
    padding-left: .1em;
    position: relative;
    top: -0.5em;
    vertical-align: baseline;
  }

  > label {
    cursor: pointer;
  }

  > input {
    display: none;

    &:not(:checked) + span {
      display: none;
    }
  }

  > span {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    float: left;
    font-size: 85%;
    padding: .75em 2em;
    width: 100%;

    &::before {
      border-right: .2em solid;
      content: counter(sidenote);
      margin-right: .5em;
      padding-right: .5em;
    }
  }
}
