---
import Base from "./base.astro";

const frontmatter = Astro.props.frontmatter ?? Astro.props;
---

<Base {...frontmatter}>
  <header>
    <h1>{frontmatter.title}</h1>
  </header>
  <article>
    <slot/>
  </article>
</Base>
