---
import Base from "./base.astro";
import Meta from "../components/meta.astro";

const { frontmatter } = Astro.props;
---

<Base {...frontmatter}>
  <article>
    {/* frontmatter */}
    <div class="frontmatter">
      {/* title */}
      <h1 class="title">{frontmatter.title}</h1>
      {/* meta */}
      <Meta {...frontmatter}/>
    </div>
    <hr/>
    {/* content */}
    <section>
      <slot/>
    </section>
    {/* comments */}
    <section>
      <script src="https://giscus.app/client.js"
        data-repo="kaplanz/site"
        data-repo-id="R_kgDOMaXEIA"
        data-category="Comments"
        data-category-id="DIC_kwDOMaXEIM4CkYlF"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
      </script>
    </section>
  </article>
</Base>

<style is:global>
  .frontmatter {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin: 0;

    * {
      margin: 0;
    }
  }
</style>
